nav {
  overflow: hidden;
}
.nav-link {
  position: relative;
  &::before {
    content: "";
    height: 2px;
    background: #ffffff;
    position: absolute;
    bottom: -2px;
    left: 0;
    width: 0%;
    transition: all 0.3s;
  }
}
.nav-link:hover::before {
  width: 100%;
}
.nav-side-menu,
.nav-cart-menu {
  position: fixed;
  top: 0;
  left: 0;
  z-index: 100;
  height: 100dvh;
  transition: all 0.5s;
  background: #f8f8f8;
  transition: all 0.5s;
  box-shadow: 5px 0px 5px #0061347c;
}
.nav-side-menu.show {
}
.nav-side-menu.hide,
.nav-cart-menu.hide {
  transform: translate(-100%, 0);
  box-shadow: none;
}
/* ------------------------------ */
.nav-search-menu {
  position: fixed;
  top: 0;
  right: 0;
  z-index: 100;
  height: 100dvh;
  transition: all 0.5s;
  background: #f8f8f8;
  transition: all 0.5s;
  border-left: 1px solid black;
}
.nav-search-menu.show,
.nav-cart-menu.show {
}
.nav-search-menu.hide {
  transform: translate(100%, 0);
}

.subcat {
  display: grid;
  grid-template-rows: 0fr;
  transition: grid-template-rows 0.5s ease;
}
.subcat.show {
  grid-template-rows: 1fr;
}
.subcat-box {
  overflow: hidden;
}

.subcat-box {
}

/* ---------------------- */
.nav-categories-box {
  display: grid;
  grid-template-rows: 0fr;
  transition: grid-template-rows 0.5s ease;
  width: max-content;
}
.nav-categories-link:hover .nav-categories-box {
  grid-template-rows: 1fr;
}

.nav-categories-content {
  overflow: hidden;
}
